#title, .st, .tp{
 color: blue;
} 
/* o # é utilizado para indicar que a mudança de estilo será feita em um tag com parametro  id*/
/* o . é utilizado para indicar que a mudança de estilo será feita em um tag com parametro class*/
.tp{
    font-size: 16px;
    font-style: italic;
}
/* declarações são utilizadas para realizar alterações especificas em uma tag, class ou id especifica */
#mee{
    height: 250px;
    width: 200px;
}
.post{
    background-color:lightblue;
    border: 4px solid blue;
    padding: 10px;
    margin: 10px;

}